body{
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: ; */
    background-color: antiquewhite;
}
header{
    background-color:pink;
    color: black;
    text-align: center;
}
nav{
    text-align: center;
    background-color: pink;
    /* padding: 10px; */
}
nav a{
    text-decoration: none;
    margin: 20px;
    font-weight: 600;
    line-height: 2;
}
nav a:hover{
    text-decoration: underline;
    color: purple;
    font-size: 18px;
}
.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
    
}
.image img{
    height: 400px;
    width: 400px;
    border: 1px solid;
    border-radius: 10%;
}
